.App {
  text-align: center;
}
.input_todo{
  height: 30px;
  border-radius: 5px;
}
h1{
  text-align: center;
  color: white;
  background-color: #888844;
}
.container {
  text-align: center;
  display: flex;
  width: 60%;
  height: auto;
  background-color: #888844;
  margin-left: 20%;
}
.todolist{
  border: 2px solid white;
  width: 50%;
  height: auto;
  border-radius: 3px;
}
.donelist{
  border: 2px solid white;
  width: 50%;
  height: auto;
  border-radius: 3px;
}
.input{
  width: 90%;
  padding: 1% 0%;
  margin: 2% 0% 0% 5%;
  border: 1px outset white;
  border-radius: 6px;
  text-align: initial;
}
.donelist div{
  width: 90%;
  padding: 1% 0% 1% 1% ;
  margin: 2% 0% 4% 5%;
  border: 1px inset white;
  border-radius: 6px;
  text-align: initial;
}
.donelist h3{
  margin-bottom: 9%;
}

